# Hint: List ignored files: git status --ignored

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea*

# Application files
node_modules*
**/*.log
client_versions*
package-lock.json
